

/* Navbar */
.navbar-brand{
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    letter-spacing: 3px;

    padding: 5px;
    border-radius: 2%;

   }

   .navbar {
    box-shadow: 2px 2px 5px var(--outer-space);
  }
  
  .navbar-light .navbar-brand {
    color: var(--outer-space) !important;
    opacity: 0.9;
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: var(--outer-space) !important;
  
    opacity: 0.8;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    background-color: var(--main-white) !important;
    border-radius: 10%;
    opacity: 0.9;
  }

  
.nav-light {
    background-color: var(--aero-blue) !important;
    
  }

  .dropdown-item:hover {
    background-color: var(--aero-blue);
  }
  
  /* end Navbar */