body {
    text-align: center;
    color: gold;
    transition: background-color 2s;
    background-color: black;
   
 }
 
 h1 {
   margin-top: 5em;
   font-family: 'Sen', sans-serif;
   text-decoration: underline;
   letter-spacing: 1.2px;
 }
 
 .main {
   color: #e1f1f1;
   font-size: 30px;
 }
 
 .plus {
   font-size: 50px;
 }
 
 button {
   background-color: gold;
   padding: 10px 25px 10px 25px;
   border: 0px solid white;
   font-family: 'Sen', sans-serif;
   font-weight: 700;
   letter-spacing: 1.2px;
 }
 
 li {
     text-align: left;
     counter-increment: li;
 }
 
 ol {
   list-style: none;
 }
 
 li::before {
   content: counter(li); 
   color: yellow;
   margin-right: 10px;
 }
 
 .history {
   margin-top: 200px;
   color: white;
   margin: auto;
   width: 25%;
 }
 
 .history-title {
   font-family: 'Sen', sans-serif;
   color: yellow;
   text-decoration: underline;
 }